<!--
  Angular Material things Taken from
  https://goo.gl/6Z1p5J
-->

<!--Navigation bar for the all pages.-->
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><mat-icon class="example-icon">favorite</mat-icon>{{ title }}</span>
        <span class="example-spacer"></span>
        <!-- <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon> -->
        <a [routerLink]="['']"><button mat-button>Home</button> </a>
         <a [routerLink]="['groupchat']"> <button mat-button>Groups</button> </a>
        <button mat-button>Logout</button>
      </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<!-- <app-chat></app-chat> -->
    

  
  
  