My Group CHat

<!-- Group Chat Box -->
  <div id="wrapper" *ngIf="loggedInMemberUsername"> 
      <div id="menu">
          <p class="welcome">Welcome, <b>{{ loggedInMemberUsername }}</b></p>
          <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
          <div style="clear:both"></div>
      </div>    
      <div id="chatbox"></div>
       
      <form name="message" action="">
          <input name="usermsg" type="text" id="usermsg" size="63" />
          <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
      </form>
    </div>

<!-- Alternative Group Chat Form -->
<!-- <div class="container">  

    <div class="col-md-8">
      <div class="chat" id="chat"></div>

        <form id="messageForm">
          <div class="form-group">
            <label>Enter Message</label>
            <textarea class="form-control" id="message"></textarea>
            <br />
            <input type="submit" class="btn btn-primary" value="Send Message" />
          </div>
        </form>

    </div>

  </div>  -->